Testing/Server/orion.config.js

# Ignore all node_modules everywhere
node_modules/

*.log

orion.internal*

temp.*

playground

ClientTest

gipsy.*

node_modules

*.log
*.db

logs

r_sync.internal.*
orion_orch.internal.*

.env.*